        .onehunderd_per{
            float: left;
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
        .home{
            text-decoration: none;
            color: black;
        }
        .link{
            text-decoration: none;
            padding-left: 45px;
            color: black;
        }
        .nav{
            list-style-type: none;
            display: inline-block;
            float: left;
        }
        .list{
            display: inline-block;
            padding-right: 10px;
            color: black;
            float: left;
        }
        .list:hover{
            font-size: larger;
            transition-duration: 1s;
        }
        .list:hover, .link:hover, .home:hover{
            text-shadow: -.1em -.1em .1em deepskyblue;
            color: white;
        }
        .dropdown:hover .table_dropdown{
            display: block;
            position: absolute;
            z-index: 5;
        }
        .table_dropdown{
            display: none;
            background-color: #F5C282;
            border-radius: 5px;
            border: 2px solid black;
        }
        .dropdown{
            display: inline-block;
            float: left;
            position: relative;
        }
        .padding-left{
            padding-left: 50px;
        }
        .padding-left2{
            padding-left: 50px;
            padding-right: 50px;
        }
        .image{
            width: 200px;
            padding-top: 20px;
        }
        .center{
            text-decoration: none;
            margin: 0;
            color: black;
        }
        body{
            background-image: linear-gradient(to bottom right,#03989E,white,#F5C282);
            background-attachment: fixed;
            font-family: Comic Sans MS;
        }
        .logo{
            width: 5%;
            float: left;
        }
        .logo:hover{
            transform: rotate(-360deg);
            transition-duration: 2s;
        }
        .center{
            text-align: center;
        }
        .main_div_img{
            display: block;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        .objective{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        .targeted{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        .References{
            width: 90%;
            clear: left;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
        }
        .team{
            width: 100%;
            margin-left: 45px;
        }
        .profile1{
            width: 30%;
            padding-left: 20px;
            float: left;
        }
        .profile2{
            width: 30%;
            padding-left: 20px;
            float: left;
        }
        .profile3{
            width: 30%;
            padding-left: 15px;
            float: left;
        }
        .profile_img{
            width: 70%;
            height: 200px;
            text-align: center;
        }
        .footer{
            display: inline-block;
            width: 100%;
            border: 1px solid black;
            bottom: 0;
            box-sizing: border-box;
            margin-top: 10px;
            background-color: white;
        }
        .footer_div1{
            width: 10%;
            box-sizing: border-box;
            float: left;
        }
        #footer{
            list-style-type: none;
        }
        #footer_img1{
            width: 25px;
            padding-left: 8px;
        }
        #footer_img2{
            width: 25px;
            padding-left: 8px;
        }
        #footer_img3{
            width: 30px;
            padding-left: 5px;
        }
       #footer_img4{
            width: 40px;
        }
        .footer_div2{
            width: 69%;
            float: left;
            height: 156px;
        }
        #input{
            margin-left: 50px;
            margin-top: 20px;
            background-color: #F5C282;
            border-radius: 5px;
            color: #03989E;
        }
        #submit{
            margin-left: 110px;
            background-color: #03989E;
            border: 0px solid black;
            clear: right;
        }
        .feedback{
            font-size: 0.7em;
            text-align: center;
            margin-top: 30px;
        }
        .footer_div3{
            width: 20%;
            float: left;
            height: 156px;
        }
        .copy{
            text-align: center;
        }
        .main_div{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
        }
        .main_div_img{
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            height: 400px;
        }
 @media only screen and (max-width: 700px){
            .onehunderd_per{
                width: 100%;
            }
            .logo{
                width: 10%;
            }
            .nav{
                width: 90%;
                padding: 0;
                margin-top: 3%;
            }
            .container, .mainimg, .outline, .outline1, .quote{
                box-sizing: border-box;
            }
            .quote{
                font-size: x-large;
            }
            .outline{
                height: 485px;
                top: -3%;
            }
            .table_dropdown{
                width: 180%;
            }
            .padding-left, .padding-left2{
                padding-left: 10px;
            }
            .image{
                width: 115px;
            }
            .twenty_per{
                width: 26%;
                position: fixed;
                overflow-y: scroll;
                height: 300px;
                right: 0;
                top: 50px;
            }
            body{
                font-size: 13px;
            }
            .profile{
                width: 60%;
                padding-left: 5px;
                background-color: white;
                float: left;
            }
            .profile_img{
                width: 40%;
                height: 100px;
                text-align: center;
            }
            .footer_div1{
                width: 15%;
            }
            .footer_div2{
                width: 53%;
                padding-left: 40px;
            }
            .footer_div3{
                display: none;
            }
            #input{
                width: 70px;
                margin-left: 10px;
            }
            #submit{
                margin-left: 30px;
                margin-top: 5px;
            }
            .profile_img{
                width: 200px;
                height: 300px;
            }
            .profile1{
                width: 90%;
                padding-left: 50px;
            }
            .profile2{
                width: 90%;
                padding-left: 50px;
            }
            .profile3{
                width: 90%;
                padding-left: 50px;
            }
        }
@media only screen and (max-width: 1200px){ 
            #input{
                width: 80px;
                margin-left: 60px;
            }
            #submit{
                margin-left: 75px;
                margin-top: 5px;
            }
        }

@media only screen and (max-width: 1000px){
            .footer_div1{
                width: 15%;
            }
            .footer_div2{
                width: 63%;
            }
            .footer_div3{
                width: 20%;
            }
            #input{
                width: 80px;
                margin-left: 30px;
            }
            #submit{
                margin-left: 45px;
                margin-top: 5px;
            }
            .image{
                width: 100px;
            }
        }

